/ ================  _document-head.haml
/ Mobile viewport optimized
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
= stylesheet_link_tag :main
<link href='http://fonts.googleapis.com/css?family=Glegoo|Abel|Duru+Sans' rel='stylesheet' type='text/css'>
- # = stylesheet_link_tag :"custom-theme/jquery-ui-1.8.14.custom.css"
= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"		
= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"
= javascript_include_tag :"libs/modernizr-1.6.min"
= javascript_include_tag :plugins
= javascript_include_tag :script
<link rel="stylesheet" href="css/fonts/style.css" type="text/css" media="screen"/>
<!--[if lt IE 9]>
<script src="/js/html5shiv.js"></script>
<![endif]-->
/ ----------------  _document-head.haml